// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin-top: 30px;
}

.form-name {
  margin-top: 50px;
  margin-bottom: 30px;
}