.container
  .row
    .col-xs-offset-4.col-xs-4
      %h1.form-name Edit this product
      =form_for @product, url: company_product_path do |f|
        .form-group
          %label Product name:
          =f.text_field :name, class: "form-control"
        .form-group
          %label Product description:
          =f.text_area  :description, class: "form-control"
        .form-group
          %label Price:
          =f.text_field :price, class: "form-control"
        .form-group
          %label Photo
          %br= image_tag @product.picture_url, class: "img-thumbnail" if @product.picture?
          = f.file_field :picture
        = f.submit 'Save', class: "btn btn-primary"
        = link_to "Cancel",  company_product_path, class: "btn btn-danger"